<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>App Consulta Archivado</title>
		<link rel="stylesheet" href="css\bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="./css/styles.css">
		<link rel="shortcut icon" href="./img/icon.ico">
	</head>
	<body>
		<div class="contenido">
			<div class="jumbotron text-center color-banco">
				<img src="./assets/icon.ico" class="logito">
				<h1>App Consulta Archivado</h1>
			</div>

			<div class="container forma">
				<form method="post" action="/consultar">
				<div class="form-group">
					
					<label for="sim">Seleccione el archivado a consultar</label>
					<div class="form-group text-center">
						<div class="dropdown">
							  <button class="btn btn-secondary dropdown-toggle btn-outline-secondary" type="button" id="tipo-simulador" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-</button>
							  <div class="dropdown-menu" aria-labelledby="tipo-simulador">
										<label class="dropdown-item"><input type="radio" name="simu" href="#" id="Consumo" value="Consumo">Consumo</label>
										<label class="dropdown-item"><input type="radio" name="simu" href="#" id="TDC" value="TDC">TDC</label>
								</div>
						</div>
					</div>

					<label for="cons">Seleccione el tipo de consulta</label>
					<div class="form-group text-center">
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle btn-outline-secondary" type="button" id="tipo-consulta" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-</button>
							<div class="dropdown-menu" aria-labelledby="tipo-consulta">
								<label class="dropdown-item"><input type="radio" name="tipo" href="#" id="NM" value="NM">NM</label>
								<label class="dropdown-item"><input type="radio" name="tipo" href="#" id="CI" value="CI">CI</label>
							</div>
						</div>
					</div>
					
					<div id="cedula">
						<label for="ci">Ingrese Cédula de Identidad</label>
						<div class="input-group">
							<div class="dropdown input-group-prepend">
								<button class="btn btn-secondary dropdown-toggle btn-outline-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-</button>
								  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											<label class="dropdown-item"><input type="radio" name="nac" href="#" id="ve" value="V">V</label>
											<label class="dropdown-item"><input type="radio" name="nac" href="#" id="ex" value="E">E</label>
									</div>
							</div>
							<input class="form-control" type="text" name="ci" id="ci" placeholder="..." maxlength="8">
							<div class="input-group-append">
								<i class="fa fa-search input-group-text"></i>
							</div>
						</div>					
					</div>

					<div id="empleado">
						<label for="NM1">Ingrese NM</label>
						<div class="input-group">
							<div class="dropdown input-group-prepend">
								<button class="btn btn-secondary dropdown-toggle btn-outline-secondary" type="button" id="elegirnm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-</button>
									<div class="dropdown-menu" aria-labelledby="elegirnm">
										<label class="dropdown-item"><input type="radio" name="NM2" href="#" id="NM2" value="NM">NM</label>
									</div>
							</div>
							<input class="form-control" type="text" name="NM1" id="NM1" placeholder="..." maxlength="5">
							<div class="input-group-append">
								<i class="fa fa-search input-group-text"></i>
							</div>
						</div>					
					</div>


				</div>			
				<div class="form-group text-center">
					<button class="btn btn-banco" type="submit" id="consultar" value="send" name="consultar"><i class="fa fa-search"></i> Consultar</button>
				</div>
				</form>
			</div>

			<div class="container text-center">
				<a href="/"><button class="btn btn-banco mt-4"><i class="fa fa-home"></i> Página principal</button></a>
			</div>
		</div>
		<footer class="page-footer">			
			<p>Gerencia Admisión Crédito Estandarizado - Banco de Venezuela</p>			
		</footer>

		<script src="js/jquery.slim.min.js"></script>
    	<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
    	<script type="text/javascript" src="js/script.js"></script>
	</body>
</html>