<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>App Consulta Archivado</title>
		<link rel="stylesheet" href="./css\bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="./css/styles.css">
		<link rel="shortcut icon" href="./img/icon.ico">
	</head>
	<body>
		<div class="contenido">
			<div class="jumbotron text-center color-banco">
				<img src="./assets/icon.ico" class="logito">
				<h1>App Consulta Archivado</h1>
			</div>

			<div class="container">
				<div class="row text-center">
					<h2 class="text-center">Cédula/NM no encontrado</h2>
					<h5 class=" mt-4 ml-4 mr-4">Lo sentimos, no pudimos encontrar nada en la base de datos. Revise el término que ingresó en la búsqueda y vuelva a intentar.</h5>
				</div>
				<div class="mt-4">
					<a href="/consulta"><button class="btn btn-banco">Volver al inicio</button></a>
					<a href="/"><button class="btn btn-banco"><i class="fa fa-home"></i> Página principal</button></a>
				</div>
			</div>
		</div>
		<footer class="page-footer">			
			<p>Gerencia Admisión Crédito Estandarizado - Banco de Venezuela</p>			
		</footer>

		<script src="js/jquery.slim.min.js"></script>
    	<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
	</body>
</html>
