@font-face{
	font-family: "Nunito";
	src:  url("../assets/nunito.ttf") format("truetype");
}

.color-banco{	
	background-color: #2E73C7;
	color: white;	
}

.forma{
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

[type='radio'] {
visibility: hidden;
}

body{
	color: #556F90;	
	font-family: "Nunito";
}

.btn-banco{	
	background-color: #EA0654;
	color: white;
}

.btn-banco:hover{	
	background-color: #2E73C7;
}

.card-banco{	
	background-color: #2E73C7;
	color: white;
}
.contenido{
	min-height: calc(100vh - 70px);
}

footer{
	height: 50px;
	text-align: center;	
}

.img-thumbnail{
	height: 50px;
	width: 50px;
}

table{
	font-size: 12px;
}

.logito{
	height: 75px;
	width: 75px;
}